# --- WORKER CONFIG ---
TEMPORAL_ADDRESS=localhost:7233
TEMPORAL_NAMESPACE=default
TEMPORAL_TASK_QUEUE=PREFLIGHT_QUEUE

# Engine Dependency
GS_PATH="C:\\Program Files\\gs\\gs10.06.0\\bin\\gswin64c.exe"
